@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #1b2026;
	background-color: #eee;
}

#hero p, h2, #works h4, footer p, #hero a, footer a:hover {
	color:#eee;
}

.col-1-4 p, header nav a {
	color: #00adb5;	
}

body, #hero a:hover, footer a, header nav a:hover, footer a {
	color: #1b2026;
}

h1, h2, h3, #works h4, .col-1-4 p, header p, #team header .col-2-3 p, .col-2-3 {
	text-align: center;
}

#team h4, #team .col-2-3 p {
	text-align: left;
}

footer li {
	text-align: right;
}

h3, #team h4 {
	font-weight: 200;
}

#hero a {
	font-weight: 400;
}

header nav a, footer li {
	font-weight: 700;
}


/*--1.1 HEADINGS--*/

h2 {
	font-size: 3rem;
	margin:30px 0 5px;
}

h3 {
	font-size: 2.25rem;
	margin: 75px 0 25px;	
}

h4 {
	font-size: 1.5rem;
}

/*--1.2 BODY COPY--*/

#hero p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

p {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

#team .col-2-3 p {
	margin-bottom: 10px;
}

#team header .col-2-3 p {
    margin-bottom: 50px;
}

footer p, footer a {
	font-size: 1rem;
}

/*--1.3 BUTTONS--*/

a {
	text-decoration: none;	
}


#hero a {
	font-size: 1.25rem;
	border: 3px solid #eee;
	padding: 7px 30px;
	background-color: #1b2026;
	border-radius: 10px;
	margin: 10px;
}

#hero a:hover {
	background-color: #00adb5;
}

footer ul {
	margin-top: 30px;
}

footer a {
	margin-right: 40px;
}

/*--1.5 LISTS--*/

ul {
	padding-left: 0;
}

/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

header nav a {
	padding: 7px 25px;
	border: 2px solid #eee;
	border-radius: 20px;
    margin: 18px 6px 0 0;
}

header nav a:hover {
	background-color: #eee;
}

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

#team img {
	border-radius: 15px;
	width: 100%;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

#hero {
	background: url(../img/img-hero.jpg) no-repeat center center;
    background-size: cover;
}

.icon-fb {
	background: url(../img/icon-fb.png) no-repeat;
}

.icon-twitter {
	background: url(../img/icon-twitter.png) no-repeat;
	margin-left: 15px;
}

.icon-fb, .icon-twitter {
	height: 40px;
    width: 40px;
    background-position: 0 0;
	float: left;
}

.icon-fb:hover, .icon-twitter:hover {
	background-position: 0 -40px;
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*--5.1 - Background Colors--*/

.bg-dark {
	background-color: #1b2026;
	position: relative;
}

.bg-bright {
	background-color: #00adb5;
	margin-top: 20px;
}

/*-- 5.4 - Alignments --*/

.wrapper {
	margin: 0 auto;
	width: 70%;	
}

@media (min-width: 480px) { 
	.flex {
		display: -webkit-flex;
		display: -mz-flex;
		display: -o-flex;
		display: -ms-flex;
		display: flex;
		overflow: hidden;
	}
	.flex [class*='col-'] {
	flex: 1;
	}
}

header nav a, #hero a, footer li, li, footer li, .icon-fb, .icon-twitter {
	display: inline-block;
}

#hero p {
	margin-top: 0;
}

h4 {
	margin: 0;
}

.block-center {
	margin: auto;
}

.col-2-3 {
  	margin: 0 auto;
}

#hero .col-2-3 {
	padding: 90px 0 130px;
}

.box-blue{
	background-color: #1b2026;
	border-radius: 15px;
	padding: 15px;
	height: 100%;
}

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}	

#team .col-2-3 {
	padding-left: 15px;
}

.rule {
	margin: 2px auto;
	width: 66%;
	height: 3px;
	background-color: #3a4750;
}

.f-left, .icon-fb, .icon-twitter, [class*='col-'] {
	float: left;
}

.f-right {
	float: right;
}

.block-center {
    float: none;
}

/*-- Responsive code --*/

.row:after {
	content: "";
	display: table;
	clear: both;	
}

.row {
	overflow: auto;
}

[class*='col-'] {
	padding-right: 15px;
	margin-bottom: 15px;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;	
}

.col-1-3 {
	width: 33.33%;	
}

.col-2-3 {
	width: 66.66%;	
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.33%;
}	

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;	
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-2-9 {
	width: 22.22%;
}

.col-7-9 {
	width: 77.77%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

.red {
	background-color: #EA5455;
	height: 100px;
}

.tan {
	background-color: #FDE9C9;	
	height: 75px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

/* Tablet break-point */ 
@media (max-width: 480px) {
	.wrapper, .col-2-3 {
		width: 90%;	
	}
	
	.col-2-3.col-sm {
		width: 66.66%;
	}
	
	.col-1-4, .col-1-10, .col-5-12, .col-1-2, .col-5-6 {
		width: 100%;
	}
	
	.col-1-4:nth-child(2), .col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(2), .col-1-10:nth-child(4), .col-1-10:nth-child(6), .col-1-10:nth-child(8), .col-1-11, .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9) {
		padding-right: 0;	
	}

	.col-1-4.sm, .col-1-8 {
		width: 25%;	
	}
	
	.col-3-4 {
		width: 75%;	
	}

	.col-1-6.sm {
		width: 20%	
	}
	
	.col-5-6 {
		width: 80%	
	}

	.col-1-7, .col-1-11 {
		width: 100%;	
	}

	.col-1-9, .col-1-6, .col-1-12 {
		width: 33.33%;
	}
	
	#hero .col-2-3 {
	padding: 25px 0;
}
	
	nav ul {
		text-align: center;
	}
	
	footer ul {
		margin-top: 0;
	}
	
	.f-right, .f-left {
		float: none;
	}
	
	footer p{
		text-align: center;
		padding-top: 15px;
	}
	
	header li {
		margin: 0 4px;
	}
	
	footer a {
		margin: 0 15px;
	}
	
	h3 {
		margin: 25px 0 10px;
	}
	
	
	.col-1-4 {
		padding-right: 0;
	}
}


/* Mobile phone break-point 
@media (max-width: 320px) {
	.wrapper {
		width: 95%	
	}
}
*/ 